name: Publish to PyPI

on:
  release:
    types: [created]

permissions:
  contents: read

jobs:
  pypi-publish:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    environment: release
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Set up Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065
        with:
          python-version: '3.11'

      - name: Build package
        run: |
          pip install uv==0.9.21
          uv pip install --system build==1.3.0
          python -m build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
